Debugger1.1/Library/
Debugger1.1/Temp/
Debugger1.1/Assembly-CSharp-vs.csproj
Debugger1.1/Assembly-CSharp.csproj
Debugger1.1/Debugger1.1-csharp.sln
Debugger1.1/Debugger1.1.sln
Debugger1.1/Debugger1.1.userprefs
Debugger1.1/obj/Debug/Assembly-CSharp-vs.csproj.FileListAbsolute.txt
Debugger1.1/test_Data/
Debugger1.1/test_Data/level0
Debugger1.1/UnityVS.Debugger1.1.CSharp.csproj
Debugger1.1/UnityVS.Debugger1.1.sln
