Debugger1.1/Library/
Debugger1.1/Temp/
Debugger1.1/Assembly-CSharp-vs.csproj
Debugger1.1/Debugger1.1.sln
Debugger1.1/Debugger1.1.userprefs
Debugger1.1/Debugger1.1-csharp.sln
Debugger1.1/Assembly-CSharp.csproj
